%column {
    display: flex;
    flex-direction: column;
}
%row {
    display: flex;
    flex-direction: row;
}
%btn {
    padding: 15px 30px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 6px 12px 15px -3px rgba(0,0,0,0.1);
}
%btn-animate {
    cursor: pointer;
    transition: all 0.3s ease;
}

$black-text: #101010;

.container {
    width: 85%;
}
.content {
    @extend %column;
    align-items: flex-start;
    gap: 50px;
    padding: 25px;
}
.headerBlock {
    @extend %column;
    gap: 50px;
}
.headerText {
    max-width: 550px;
    font-size: 40px;
    color: $black-text;
    font-weight: 700;
    white-space: break-spaces;
    line-height: 140%;

    .grayText {
        color: #888;
        font-weight: 500;
    }
}
.btnGroup {
    @extend %row;
    align-items: center;
    gap: 15px;
}
.blueBtn {
    @extend %btn-animate;
    @extend %btn;
    background-color: #1FC6C6;
    color: white;

    &:hover {
        background-color: #18a0a0;
    }
}
.whiteBtn {
    @extend %btn-animate;
    @extend %btn;
    background-color: transparent;
    color: $black-text;
    border: 2px solid #b8b8b8;

    &:hover {
        background-color: #f7f7f7;
    }
}

@media screen and (max-width: 850px) {
    .container {
        width: 90%;
    }
}
@media screen and (max-width: 700px) {
    .container {
        width: 95%;
    }
}
@media screen and (max-width: 600px) {
    .headerBlock {
        gap: 35px;
    }
    .headerText {
        font-size: 28px;
    }
}
@media screen and (max-width: 450px) {
    .headerBlock {
        gap: 30px;
    }
    .headerText {
        font-size: 22px;
    }
    .blueBtn, .whiteBtn {
        font-size: 12px;
        padding: 15px 20px;
    }
}