@import '../../../../variable.scss';

.container {
    width: 100%;
    @extend %column;
    border-radius: 8px;
    background-color: white;
    position: relative;
}
.buttonsGroup {
    position: absolute;
    top: 15px;
    right: 15px;
    @extend %row-center;
    gap: 10px
}
.groupBtn {
    @extend %btn-blue;
    padding: 10px;
}
.groupIcon {
    width: 20px;
    height: 20px;
}
.header {
    width: 100%;
    height: 300px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px 8px 0 0;
}
.borderRadius {
    border-radius: 8px;
}
.content {
    @extend %column;
    gap: 10px;
    padding: 15px;
}
.title {
    font-size: 22px;
    font-weight: 400;
    color: $text-purple;
}
.description {
    font-size: 16px;
    font-weight: 400;
    color: $text-purple; 
}
.arrowContainer {
    width: 100%;
    @extend %row-center;
    justify-content: center;
    gap: 10px;
    color: $blue;
    cursor: pointer;
    @extend %transition-03;

    &:hover {
        color: $blue-hover;
    }
}
.icon {
    width: 24px;
    height: 24px;
    @extend %transition-03;
}
.accordion {
    @extend %column;
    gap: 25px;
    overflow: hidden;
}
.block {
    @extend %column;
    gap: 10px;
}
.infoTitle {
    font-size: 18px;
    font-weight: 400;
    color: $text-purple;
}
.files {
    @extend %row-center;
    gap: 10px;
}
.parameter {
    font-size: 15px;
    font-weight: 400;
    color: $text-purple;
    @extend %row-center;
    gap: 10px;
}
.dash {
    width: 15px;
    height: 3px;
    border-radius: 8px;
    background-color: $blue;
}
.modalTitle {
    font-size: 22px;
    font-weight: 400;
    color: $text-purple;
}
.modalButtonsGroup {
    @extend %row-center;
    gap: 10px
}
.whiteBtn {
    @extend %btn-white;

    &:hover {
        box-shadow: none
    }
}
.blueBtn {
    @extend %btn-blue;
}