@import '../../variable.scss';

.iconBtn {
    padding: 10px;
    @extend %flex-center-center;
    background-color: $blue;
    border-radius: 14px;
    box-shadow: $shadow-default;
    cursor: pointer;
    @extend %transition-03;

    &:hover {
        box-shadow: $shadow-default-hover;
    }
}
.icon {
    width: 24px;
    height: 24px;
    color: white;
}