%btn-animate {
    cursor: pointer;
    transition: all 0.3s ease;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header {
    width: calc(100% - 60px);
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
.authBtn {
    background-color: #1FC6C6;
    padding: 15px 30px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border-radius: 12px;
    text-decoration: none;
    box-shadow: 6px 12px 15px -3px rgba(0,0,0,0.1);
    @extend %btn-animate;

    &:hover {
        background-color: #18a0a0;
    }
}

@media screen and (max-width: 450px) {
    .authBtn {
        font-size: 13px;
        padding: 15px 20px;
    }
}