@import '../../variable.scss';

%column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
%column-flex-start {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
%animate {
    cursor: pointer;
    transition: all 0.3s ease;
}

$gray: #929292;

.link {
    @extend %animate;

    &:hover {
        color: #717171;
    }
}
.buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.blueLink {
    @extend %animate;
    color: $blue;
    text-decoration: none;

    &:hover {
        color: $blue-hover;
    }
}
.blueBtn {
    @extend %animate;
    background-color: $blue;
    padding: 15px 30px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 500;
    color: white;

    &:hover {
        background-color: $blue-hover;
    }
}
.errorText {
    max-width: 350px;
    font-size: 17px;
    color: red;
    margin-top: 10px;
}