@import '../../../../variable.scss';

.container {
    position: relative;
}
.input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.iconContainer {
    width: 30px;
    height: 30px;
    padding: 5px;
    cursor: pointer;   
    @extend %flex-center-center;
    @extend %transition-03;
}
.icon {
    width: 100%;
    height: 100%;
    color: $blue;
    @extend %transition-03;
    animation: hide 0.5s ease;

    &:hover {
        color: $blue-hover;
    }
}