@import '../../variable.scss';

.container {
    @extend %column;
    align-items: center;
    gap: 25px;
    padding-bottom: 25px;
}
.title {
    font-size: 26px;
    font-weight: 500;
    color: $text-purple;
}
.page {
    @extend %column-center;
    gap: 25px;
}
.input {
    width: 400px;
    padding: 8px 15px;
    border: 1px solid $background-color-rose-2;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 400;
    color: $text-gray;
    @extend %transition-03;

    &:hover {
        border-color: $background-color-rose-2-hover;
    }
    &:focus-visible {
        outline: none;
        border-color: $background-color-rose-2-hover;
    }
    &::placeholder {
        color: $text-gray;
        opacity: 0.35;
    }
}
.block {
    width: 100%;
    @extend %row-center-between;
    align-items: flex-start;
    gap: 25px;
    position: relative;
}
.navigation {
    @extend %column-center;
    gap: 10px;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 6px 58px 0px #C4CBD61A;
    position: fixed;
    top: 250px;
    right: 35px;
}
.navBtn {
    width: calc(100% - 40px);
    padding: 10px 20px;
    @extend %row;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 400;
    color: $text-purple;
    cursor: pointer;
    @extend %transition-03;

    &:hover {
        background-color: $gray-dull-hover;
    }
}
.content {
    width: 70%;
}